.header {
  background-color: darkgray;
  color: white;
  font-size: 30px;
  margin: 0;
}
p {
  padding: 10px 0px;
  background-color: darkgray;
  color: white;
  font-size: 11px;
}

.header img {
  margin: 0 10px;
  height: 30px;
}
